# Local development demo/example compose file
# Composes:
# - a MySQL database,
# - a model-registry server connected to the MySQL database.
version: '3'
services:
  model-registry:
    image: quay.io/opendatahub/model-registry:latest
    command: ["proxy", "--hostname", "0.0.0.0", "--datastore-type", "embedmd", "--embedmd-database-dsn", "root:demo@tcp(mysql:3306)/model_registry?charset=utf8mb4"]
    container_name: model-registry
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
        required: true
  mysql:
    image: mysql:8.3
    container_name: mysql
    command:
      - --datadir=/var/lib/mysql/datadir
      - --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=demo
      - MYSQL_DATABASE=model_registry
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysql -D $$MYSQL_DATABASE -uroot -p$$MYSQL_ROOT_PASSWORD -e 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
volumes:
  mysql_data:
