apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- postgres-statefulset.yaml
- postgres-pvc.yaml
- postgres-service.yaml

configMapGenerator:
- behavior: create
  files:
  - sources.yaml
  name: model-catalog-sources
  options:
    disableNameSuffixHash: true

secretGenerator:
- name: model-catalog-postgres
  envs:
  - postgres.env
  options:
    disableNameSuffixHash: true
- name: model-catalog-hf-api-key
  envs:
  - hf-api-key.env
  options:
    disableNameSuffixHash: true
