:root {

  // Alert
  --mui-alert--BoxShadow: none;
  --mui-alert-warning-text: #663c00;
  --mui-alert-warning-font-weight: 400;
  --mui-alert--PaddingBlockStart: 6px;
  --mui-alert--PaddingBlockEnd: 6px;
  --mui-alert--PaddingInlineStart: 16px;
  --mui-alert--PaddingInlineEnd: 16px;
  --mui-alert__icon--MarginInlineEnd: 12px;
  --mui-alert__icon--MarginBlockStart: 7px;
  --mui-alert__icon--MarginBlockStart: 7px;
  --mui-alert__icon--MarginBlockEnd: 7px;
  --mui-alert__icon--FontSize: 22px;

  // Button
  --mui-button-font-weight: 500;
  --mui-button--PaddingBlockStart: 6px;
  --mui-button--PaddingBlockEnd: 6px;
  --mui-button--PaddingInlineStart: 16px;
  --mui-button--PaddingInlineEnd: 16px;
  --mui-button--LineHeight: 1.75;

  // Menu item
  --mui-menu__item--PaddingBlockStart: 6px;
  --mui-menu__item--PaddingBlockEnd: 6px;
  --mui-menu__item--PaddingInlineStart: 16px;
  --mui-menu__item--PaddingInlineEnd: 16px;
  --mui-menu__item--FontSize: 1rem;

  // Menu toggle
  --mui-menu-toggle__toggle-icon--MinHeight: auto;
  --mui-menu-toggle__controls--MinWidth: 0;
  --mui-menu-toggle--expanded--BackgroundColor: none;
  --mui-menu-toggle--expanded--BorderColor: none;
  --mui-menu-toggle--LineHeight: 1.75;
  --mui-menu-toggle--PaddingBlockStart: 6px;
  --mui-menu-toggle--PaddingBlockEnd: 6px;
  --mui-menu-toggle--PaddingInlineStart: 16px;
  --mui-menu-toggle--PaddingInlineEnd: 16px;
  --mui-menu-toggle--ColumnGap: 0;
  --mui-menu-toggle--expanded--Color: black;
  --mui-menu-toggle--hover--BorderColor: none;
  --mui-menu-toggle--BorderColor: none;
  --mui-menu-toggle--PaddingInlineStart: 10px;
  --mui-menu-toggle--PaddingInlineEnd: 10px;

  // Table
  --mui-table__button--BackgroundColor: none;
  --mui-table__button--hover--BackgroundColor: none;
  --mui-table__button--Color: var(--pf-v6-c-table--cell--Color);
  --mui-table__button--PaddingBlockStart: 0;
  --mui-table__button--PaddingBlockEnd: 0;
  --mui-table__button--PaddingInlineStart: 0;
  --mui-table__button--PaddingInlineEnd: 0;
  --mui-table--cell--PaddingInlineStart: 16px;
  --mui-table--cell--PaddingInlineEnd: 16px;
  --mui-table--cell--PaddingBlockStart: 16px;
  --mui-table--cell--PaddingBlockEnd: 16px;
  --mui-table--cell--first-last-child--PaddingInline: 0px;
  --mui-table__thead--cell--FontSize: 14px;
  --mui-table__sort-indicator--MarginInlineStart: 4px;

  letter-spacing: 0.01071em;

  // Tabs
  --mui-tabs__link--hover--BackgroundColor: transparent;
  --mui-tabs__item--PaddingBlockStart: 0;
  --mui-tabs__item--PaddingBlockEnd: 0;
  --mui-tabs__item--PaddingInlineStart: 0;
  --mui-tabs__item--PaddingInlineEnd: 0;
  --mui-tabs__link--PaddingBlockStart: 12px;
  --mui-tabs__link--PaddingBlockEnd: 12px;
  --mui-tabs__link--PaddingInlineStart: 16px;
  --mui-tabs__link--PaddingInlineEnd: 16px;
  --mui-tabs__item--m-current__link--Color: var(--pf-t--global--text--color--brand--default);
  --mui-tabs__item--m-current__link--after--BorderWidth: 2px;
  --mui-tabs__link--FontSize: 0.875rem;


  --mui-text-transform: uppercase;


  --mui-spacing-4px: calc(0.5 * var(--mui-spacing));
  --mui-spacing-8px: calc(0.5 * var(--mui-spacing));
  --mui-spacing-16px: calc(2 * var(--mui-spacing));


  --pf-t--global--border--width--box--status--default: 1px;
  --pf-t--global--border--radius--pill: var(--mui-shape-borderRadius);
  --pf-t--global--border--radius--medium: var(--mui-shape-borderRadius);
  --pf-t--global--text--color--brand--default: var(--mui-palette-primary-main);

  --pf-t--global--color--nonstatus--blue--default: var(--mui-palette-primary-main);
  --pf-t--global--text--color--inverse: var(--mui-palette-common-white);

  --pf-t--global--font--family--100: Roboto, Helvetica, Arial, sans-serif;
  --pf-t--global--font--family--200: Roboto, Helvetica, Arial, sans-serif;
  --pf-t--global--font--family--300: Roboto, Courier, monospace;

}

.pf-v6-c-alert {
  --pf-v6-c-alert--m-warning__title--Color: var(--pf-t--global--text--color--status--warning--default);
  --pf-v6-c-alert__icon--MarginInlineEnd: var(--mui-alert__icon--MarginInlineEnd);
  --pf-v6-c-alert__title--FontWeight: var(--mui-alert-warning-font-weight);
  --pf-v6-c-alert__icon--MarginBlockStart: var(--mui-alert__icon--MarginBlockStart);
  --pf-v6-c-alert__icon--FontSize: var(--mui-alert__icon--FontSize);
  --pf-v6-c-alert--BoxShadow: var(--mui-alert--BoxShadow);
  --pf-v6-c-alert--PaddingBlockStart: var(--mui-alert--PaddingBlockStart);
  --pf-v6-c-alert--PaddingBlockEnd: var(--mui-alert--PaddingBlockEnd);
  --pf-v6-c-alert--PaddingInlineStart: var(--mui-alert--PaddingInlineStart);
  --pf-v6-c-alert--PaddingInlineEnd: var(--mui-alert--PaddingInlineEnd);
}

.pf-v6-c-alert__title {
  padding-block: var(--mui-spacing);
}

.pf-v6-c-alert__icon {
  margin-block-end: var(--mui-alert__icon--MarginBlockEnd);
}

.pf-v6-c-button {
  --pf-v6-c-button--FontWeight: var(--mui-button-font-weight);
  --pf-v6-c-button--PaddingBlockStart: var(--mui-button--PaddingBlockStart);
  --pf-v6-c-button--PaddingBlockEnd: var(--mui-button--PaddingBlockEnd);
  --pf-v6-c-button--PaddingInlineStart: var(--mui-button--PaddingInlineStart);
  --pf-v6-c-button--PaddingInlineEnd: var(--mui-button--PaddingInlineEnd);
  --pf-v6-c-button--LineHeight: var(--mui-button--LineHeight);
  text-transform: var(--mui-text-transform);
  letter-spacing: 0.02857em;
}

.pf-v6-c-form__group {
  position: relative;
}

 .form-fieldset-wrapper {
  position: relative;
  width: 100%;
}

 .form-fieldset-wrapper:focus-within .form-fieldset {
  border-color: var(--mui-palette-primary-main);
  border-width: 2px;
  padding: 7px 7px
}

 .form-fieldset {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

 .form-fieldset-legend {
  float: unset;
  width: auto;
  overflow: hidden;
  display: block;
  padding: 0 5px 0 5px;
  // height: 11px;
  font-size: 0.75em;
  // visibility: hidden;
  max-width: 0.01px;
  white-space: nowrap;
  max-width: 100%;
}

.form-fieldset-wrapper:focus-within  {
  color: var(--mui-palette-primary-main);
}

.pf-v6-c-form-control>:is(input,select,textarea):focus {
  --pf-v6-c-form-control--OutlineOffset: none;
  outline: none;
}

 .form-fieldset-wrapper .pf-v6-c-form-control {
  &::before,
  &::after {
    content: revert;
  }
}


.pf-v6-c-menu {
  --pf-v6-c-menu--BoxShadow: var(--mui-shadows-8);
  --pf-v6-c-menu--BorderRadius: var(--mui-shape-borderRadius);
  --pf-v6-c-menu--PaddingBlockStart: var(--mui-spacing);
  --pf-v6-c-menu--PaddingBlockEnd: var(--mui-spacing);
  --pf-v6-c-menu--PaddingInlineStart: var(--mui-spacing);
  --pf-v6-c-menu--PaddingInlineEnd: var(--mui-spacing);
  --pf-v6-c-menu__item--PaddingBlockStart: var(--mui-menu__item--PaddingBlockStart);
  --pf-v6-c-menu__item--PaddingBlockEnd: var(--mui-menu__item--PaddingBlockEnd);
  --pf-v6-c-menu__item--PaddingInlineStart: var(--mui-menu__item--PaddingInlineStart);
  --pf-v6-c-menu__item--PaddingInlineEnd: var(--mui-menu__item--PaddingInlineEnd);
  --pf-v6-c-menu__item--FontSize: var(--mui-menu__item--FontSize);
}

.pf-v6-c-menu-toggle {
  --pf-v6-c-menu-toggle__toggle-icon--MinHeight: var(--mui-menu-toggle__toggle-icon--MinHeight);
  --pf-v6-c-menu-toggle__controls--MinWidth: var(--mui-menu-toggle__controls--MinWidth);
  --pf-v6-c-menu-toggle--expanded--BackgroundColor: var(--mui-menu-toggle--expanded--BackgroundColor);
  --pf-v6-c-menu-toggle--expanded--BorderColor: var(--mui-menu-toggle--expanded--BorderColor);
  --pf-v6-c-menu-toggle--PaddingInlineStart: var(--mui-menu-toggle--PaddingInlineStart);
  --pf-v6-c-menu-toggle--PaddingInlineEnd: var(--mui-menu-toggle--PaddingInlineEnd);
  --pf-v6-c-menu-toggle--ColumnGap: var(--mui-menu-toggle--ColumnGap);
  --pf-v6-c-menu-toggle--expanded--Color: var(--mui-palette-common-black);
  --pf-v6-c-menu-toggle--hover--BorderColor: var(--mui-menu-toggle--hover--BorderColor);
  --pf-v6-c-menu-toggle--BorderColor: var(--mui-menu-toggle--BorderColor);
  --pf-v6-c-menu-toggle--hover--BackgroundColor: var(--pf-t--global--background--color--action--plain--hover);
  --pf-v6-c-menu-toggle--m-split-button--m-action--m-primary--expanded--child--BackgroundColor: var(--pf-t--global--color--brand--default);
  --pf-v6-c-menu-toggle--m-split-button--m-action--m-primary--child--BorderInlineStartColor: var(--mui-palette-primary-dark);

  text-transform: var(--mui-text-transform);
  font-weight: var(--mui-button-font-weight);
  letter-spacing: 0.02857em;
}

.pf-v6-c-menu-toggle__button {
  text-transform: var(--mui-text-transform);
  font-weight: var(--mui-button-font-weight);
  letter-spacing: 0.02857em;
  align-self: stretch;
}

.pf-v6-c-menu-toggle.pf-m-plain {
  --pf-v6-c-menu-toggle--BorderRadius: 50%;
}

.pf-v6-c-menu-toggle.pf-m-primary.pf-m-split-button {
  --pf-v6-c-menu-toggle--expanded--Color: var(--pf-t--global--text--color--on-brand--clicked);
}

.pf-v6-c-menu-toggle.pf-m-primary.pf-m-split-button .pf-v6-c-menu-toggle__button[aria-expanded="true"] {
  --pf-v6-c-menu-toggle--m-split-button--m-action--m-primary--child--BackgroundColor: var(--mui-palette-primary-dark);
}

.pf-v6-c-menu-toggle__button:has(.pf-v6-c-menu-toggle__toggle-icon) {
  --pf-v6-c-menu-toggle--PaddingBlockStart: var(--mui-spacing-4);
  --pf-v6-c-menu-toggle--PaddingBlockEnd: var(--mui-spacing-4);
  --pf-v6-c-menu-toggle--PaddingInlineStart: var(--mui-menu-toggle--PaddingInlineStart);
  --pf-v6-c-menu-toggle--PaddingInlineEnd: var(--mui-menu-toggle--PaddingInlineEnd);
}

.pf-v6-c-menu-toggle__button .pf-v6-c-menu-toggle__toggle-icon {
  width: 1em;
  height: 1em;
  font-size: 20px;
}

.pf-v6-c-menu-toggle__button .pf-v6-c-menu-toggle__toggle-icon .pf-v6-svg {
  vertical-align: revert;
}

.pf-v6-c-menu-toggle__toggle-icon {
  --pf-v6-c-menu-toggle__toggle-icon--expanded--Color: var(--pf-t--global--icon--color--300);
  font-size: 20px;
}

.pf-v6-c-menu-toggle:not(.pf-m-split-button) .pf-v6-c-menu-toggle__toggle-icon {
  margin-right: -4px;
  margin-left: var(--mui-spacing);
}

.pf-v6-c-menu-toggle__icon {
  display: block;
  padding-right: var(--mui-spacing-4px);
}

.pf-v6-c-table {
  --pf-v6-c-table__sort--m-selected__button--Color: var(--mui-palette-text-primary);
  --pf-v6-c-table__sort-indicator--Color: var(--mui-palette-text-secondary);
  --pf-v6-c-table__sort__button--hover__sort-indicator--Color: var(--mui-palette-text-secondary);
  --pf-v6-c-table__sort__button--hover__text--Color: var(--mui-palette-text-secondary);
  --pf-v6-c-table--cell--Color: var(--mui-palette-text-primary);
  --pf-v6-c-table__button--hover--BackgroundColor: var(--mui-table__button--BackgroundColor);
  --pf-v6-c-table__button--Color: var(--pf-v6-c-table--cell--Color);
  --pf-v6-c-table__button--PaddingBlockStart: var(--mui-table__button--PaddingBlockStart);
  --pf-v6-c-table__button--PaddingBlockEnd: var(--mui-table__button--PaddingBlockEnd);
  --pf-v6-c-table__button--PaddingInlineStart: var(--mui-table__button--PaddingInlineStart);
  --pf-v6-c-table__button--PaddingInlineEnd: var(--mui-table__button--PaddingInlineEnd);
  --pf-v6-c-table--cell--PaddingInlineStart: var(--mui-table--cell--PaddingInlineStart);
  --pf-v6-c-table--cell--PaddingInlineEnd: var(--mui-table--cell--PaddingInlineEnd);
  --pf-v6-c-table--cell--PaddingBlockStart: var(--mui-table--cell--PaddingBlockStart);
  --pf-v6-c-table--cell--PaddingBlockEnd: var(--mui-table--cell--PaddingBlockEnd);
  --pf-v6-c-table--cell--first-last-child--PaddingInline: var(--mui-table--cell--first-last-child--PaddingInline);
  --pf-v6-c-table__thead--cell--FontWeight: var(--mui-button-font-weight);
  --pf-v6-c-table__thead--cell--FontSize: var(--mui-table__thead--cell--FontSize);
  --pf-v6-c-table__tr--BorderBlockEndColor: var(--mui-palette-grey-300);
  --pf-v6-c-table__sort-indicator--MarginInlineStart: var(--mui-table__sort-indicator--MarginInlineStart);

  letter-spacing: 0.01071em;
}

.pf-v6-c-table .pf-m-align-right {
  text-align: right;
}

.pf-v6-c-table__sort-indicator {
  font-size: 18px;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: center center;
  align-self: start;
}

/* CSS workaround to use MUI icon for sort icon */
.pf-v6-c-table__sort-indicator::before {
  display: block;
  width: 1em;
  height: 1em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='ArrowDownwardIcon'%3E%3Cpath d='M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z'%3E%3C/path%3E%3C/svg%3E");
}

/* Hide PF's default icon for the CSS workaround to use MUI's icon */
.pf-v6-c-table__sort-indicator svg {
  display: none;
}

.pf-v6-c-table__button:is(:hover, :focus) .pf-v6-c-table__sort-indicator,
.pf-v6-c-table__sort.pf-m-selected .pf-v6-c-table__sort-indicator {
  opacity: 0.6;
}

.pf-v6-c-table__sort[aria-sort="ascending"] .pf-v6-c-table__sort-indicator {
  transform: rotate(180deg);
  align-self: end;
}

.pf-v6-c-table__sort[aria-sort="descending"] .pf-v6-c-table__sort-indicator {
  align-self: start;
}

.pf-v6-c-tab-content {
  --pf-v6-c-tab-content__body--m-padding--PaddingBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-tab-content__body--m-padding--PaddingBlockStart: var(--pf-t--global--spacer--lg);
  --pf-v6-c-tab-content__body--m-padding--PaddingInlineEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-tab-content__body--m-padding--PaddingInlineStart: var(--pf-t--global--spacer--lg);
}

.pf-v6-c-tabs {
  --pf-v6-c-tabs__link--hover--BackgroundColor: var(--mui-tabs__link--hover--BackgroundColor);
  --pf-v6-c-tabs__item--PaddingBlockStart: var(--mui-tabs__item--PaddingBlockStart);
  --pf-v6-c-tabs__item--PaddingBlockEnd: var(--mui-tabs__item--PaddingBlockEnd);
  --pf-v6-c-tabs__item--PaddingInlineStart: var(--mui-tabs__link--PaddingInlineStart);
  --pf-v6-c-tabs__item--PaddingInlineEnd: var(--mui-tabs__item--PaddingInlineEnd);
  --pf-v6-c-tabs__link--PaddingBlockStart: var(--mui-tabs__link--PaddingBlockStart);
  --pf-v6-c-tabs__link--PaddingBlockEnd: var(--mui-tabs__link--PaddingBlockEnd);
  --pf-v6-c-tabs__link--PaddingInlineStart: var(--mui-tabs__link--PaddingInlineStart);
  --pf-v6-c-tabs__link--PaddingInlineEnd: var(--mui-tabs__link--PaddingInlineEnd);
  --pf-v6-c-tabs__item--m-current__link--Color: var(--pf-t--global--text--color--brand--default);
  --pf-v6-c-tabs__item--m-current__link--after--BorderWidth: var(--mui-tabs__item--m-current__link--after--BorderWidth);
  --pf-v6-c-tabs__link--FontSize: 0.875rem;
}

.pf-v6-c-tabs__link {
  text-transform: var(--mui-text-transform);
  font-weight: var(--mui-button-font-weight);
  line-height: var(--mui-button-line-height);
  letter-spacing: 0.02857em;
}

.pf-v6-c-tab-content {
  --pf-v6-c-tab-content__body--m-padding--PaddingBlockEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-tab-content__body--m-padding--PaddingBlockStart: var(--pf-t--global--spacer--lg);
  --pf-v6-c-tab-content__body--m-padding--PaddingInlineEnd: var(--pf-t--global--spacer--lg);
  --pf-v6-c-tab-content__body--m-padding--PaddingInlineStart: var(--pf-t--global--spacer--lg);
}

.pf-v6-c-label {
  --pf-v6-c-label--BorderRadius: 16px;
  --pf-v6-c-label--FontSize: 0.8125rem;
  --pf-v6-c-label--PaddingInlineStart: 0;
  --pf-v6-c-label--PaddingInlineEnd: 0;
  height: 24px;
}

.pf-v6-c-label__text {
  padding-right: var(--mui-spacing-8px);
  padding-left: var(--mui-spacing-8px);
  color: var(--pf-t--global--text--color--inverse);
}

.pf-v6-c-label-group.pf-m-category
 {
  --pf-v6-c-label-group--m-category--BorderWidth: 0px;
  --pf-v6-c-label-group--m-category--BorderRadius: var(--mui-shape-borderRadius);
  box-shadow: var(--mui-shadows-1);
 }

.pf-v6-c-label.pf-m-outline {
  --pf-v6-c-label--BorderColor: none;
  --pf-v6-c-label--BackgroundColor: var(--mui-palette-grey-200);
  padding: 4px;
}

.pf-v6-c-label.pf-m-outline .pf-v6-c-label__text {
  color: var(--mui-palette-common-black);
}

.pf-v6-c-modal-box {
  --pf-v6-c-modal-box--BorderRadius: var(--mui-shape-borderRadius);
}

.pf-v6-c-pagination {
  --pf-v6-c-pagination__total-items--Display: block;
}

.pf-v6-c-pagination__total-items b {
  font-weight: normal;
}

.pf-v6-c-pagination__page-menu {
  order: -1;
}

.pf-v6-c-pagination__page-menu .pf-v6-c-menu-toggle {
  --pf-v6-c-menu-toggle--expanded--BackgroundColor: none;
  --pf-v6-c-menu-toggle--hover--BackgroundColor: none;
  text-transform: none;
}

.pf-v6-c-pagination__page-menu::before {
  content: "Rows per page:";
}