.model-performance-switch.pf-v6-c-switch {
  --pf-v6-c-switch__input--checked__toggle--BackgroundColor: var(
    --pf-t--global--icon--color--status--info--default
  );
  --pf-v6-c-switch--ColumnGap: var(--pf-t--global--spacer--md);
}
