.full-width {
	width: 100%;
}

// remove this file when https://github.com/patternfly/patternfly/issues/6062 is solved
.truncate-no-min-width {
	--pf-v6-c-truncate--MinWidth: 0;
	--pf-v6-c-truncate__start--MinWidth: 0;
}
