apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  labels:
    app.kubernetes.io/name: {{.Name}}
spec:
  selector:
    app.kubernetes.io/name: {{.Name}}
  ports:
    - name: http-api
      port: 8081
      targetPort: http-api
