name: Test async-upload Job
on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "LICENSE*"
      - "**.gitignore"
      - "**.md"
      - "**.txt"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/dependabot.yml"
      - "docs/**"
  pull_request:
    paths:
      - "jobs/async-upload/**"
      - ".github/workflows/**"

env:
  IMG_REGISTRY: quay.io
  IMG_ORG: opendatahub
  IMG_NAME: model-registry/job/async-upload
  PUSH_IMAGE: false
  BRANCH: ${{ github.base_ref }}

jobs:
  py-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jobs/async-upload
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10" # refers to the Container image
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Install dependencies
        run: |
          make install
      - name: Run tests
        run: |
          make test
      - name: Remove AppArmor profile for mysql in KinD on GHA # https://github.com/kubeflow/manifests/issues/2507
        run: |
          set -x
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
      - name: Run E2E tests
        run: |
          make test-e2e
  job-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jobs/async-upload
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10" # refers to the Container image
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Remove AppArmor profile for mysql in KinD on GHA # https://github.com/kubeflow/manifests/issues/2507
        run: |
          set -x
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
      - name: Start KinD cluster and load images
        run: |
          make deploy-latest-mr # this also starts the KinD cluster
          make dev-load-image
      # TODO: to be continued here
