name: Test Controller
on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "LICENSE*"
      - "**.gitignore"
      - "**.md"
      - "**.txt"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/dependabot.yml"
      - "docs/**"
  pull_request:
    paths:
      - "cmd/controller/**"
      - ".github/workflows/**"
      - "internal/controller/**"
      - "internal/server/openapi/api_model_registry_service*"
      - "pkg/openapi/**"
      - "go.mod"

permissions: # set contents: read at top-level, per OpenSSF ScoreCard rule TokenPermissionsID
  contents: read

env:
  BRANCH: ${{ github.base_ref }}
jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Generate tag
        shell: bash
        id: tags
        run: |
          commit_sha=${{ github.event.after }}
          tag="${BRANCH:-main}"-${commit_sha:0:7}
          echo "tag=${tag}" >> $GITHUB_OUTPUT

      - name: Clone the code
        uses: actions/checkout@v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.3"

      - name: Running Tests
        run: |
          go mod tidy
          make controller/test

      - name: Build controller
        shell: bash
        env:
          IMG_REPO: model-registry/controller
          IMG_VERSION: ${{ steps.tags.outputs.tag }}
        run: make image/build
