name: Run go generate
on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 0 * * 1" # Monday 12 AM UTC

permissions:
  contents: write
  pull-requests: write

jobs:
  go-generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.3"
      - name: Run go generate
        run: go generate ./...
      - name: Check if there are uncommitted file changes
        run: |
          clean=$(git status --porcelain)
          if [[ -z "$clean" ]]; then
              echo "Empty git status --porcelain: $clean"
          else
              echo "Uncommitted file changes detected: $clean"
              git diff
          fi
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: sync-go-generate
          commit-message: "chore: sync go generated output"
          signoff: true
          title: "chore: sync go generated output"
          body: |-
            Results from running `go generate ./...`
