name: Fuzz Test
on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'The pull request number to run fuzz tests on'
        required: true
        type: number

permissions: # set contents: read at top-level, per OpenSSF ScoreCard rule TokenPermissionsID
  contents: read

env:
  IMG_REGISTRY: ghcr.io
  IMG_ORG: kubeflow
  IMG_REPO: model-registry/server
  IMG_VERSION: latest
  PUSH_IMAGE: false

jobs:
  test-fuzz:
    name: Test Fuzz DB ${{ matrix.manifest-db }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: clients/python
    strategy:
      fail-fast: false
      matrix:
        manifest-db: ["db", "postgres"] # subdirectory of manifests/kustomize/overlays to select which database: 'db' (MySQL) or 'postgres'
        kubernetes-version: ["v1.31.0"]
    env:
      DEPLOY_MANIFEST_DB: "${{ matrix.manifest-db }}"
    steps:
      - name: Get PR details
        id: pr
        uses: actions/github-script@v8
        with:
          script: |
            try {
              const pr = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: ${{ github.event.inputs.pr_number }}
              });
              return {
                sha: pr.data.head.sha,
                ref: pr.data.head.ref
              };
            } catch (error) {
              console.log(`Error fetching PR #${{ github.event.inputs.pr_number }}: ${error.message}`);
              throw error;
            }

      - name: Checkout PR
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ fromJson(steps.pr.outputs.result).sha }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Start Kind Cluster
        uses: helm/kind-action@v1.13.0
        with:
          node_image: kindest/node:${{ matrix.kubernetes-version }}
          cluster_name: py-fuzz-${{ matrix.kubernetes-version }}
          kubectl_version: ${{ matrix.kubernetes-version }}

      - name: Generate Tag
        shell: bash
        id: tags
        run: |
          commit_sha=${{ fromJson(steps.pr.outputs.result).sha }}
          tag=fuzz-${commit_sha:0:7}
          echo "tag=${tag}" | tee -a $GITHUB_OUTPUT

      - name: Run Fuzz Tests
        env:
          IMG_VERSION: ${{ steps.tags.outputs.tag }}
          CLUSTER_NAME: py-fuzz-${{ matrix.kubernetes-version }}
        run: |
          echo "Starting fuzz tests..."
          make test-fuzz
