name: UI - BFF - Build
on:
  push:
    branches:
      - "main"
    paths:
      - "clients/ui/**"
      - "!LICENSE*"
      - "!DOCKERFILE*"
      - "!**.gitignore"
      - "!**.md"
  
  pull_request:
    paths:
      - "clients/ui/**"
      - "!LICENSE*"
      - "!DOCKERFILE*"
      - "!**.gitignore"
      - "!**.md"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.5"

      - name: Clean
        working-directory: clients/ui/bff
        run: make clean

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63.4
          working-directory: clients/ui/bff/

      - name: Build
        working-directory: clients/ui/bff
        run: make build

      - name: Check if there are uncommitted file changes
        working-directory: clients/ui/bff
        run: |
          clean=$(git status --porcelain)
          if [[ -z "$clean" ]]; then
              echo "Empty git status --porcelain: $clean"
          else
              echo "Uncommitted file changes detected: $clean"
              git diff
              exit 1
          fi
